<ol class="breadcrumb">
  <li><a href="#/gists">Home</a></li>
  <li class="active">{{ gist.gist.getName() }}</li>
</ol>
<h3>
  {{ gist.gist.getName() }}
  <small>gist by <a href="#/users/{{ gist.gist.owner.login }}">{{ gist.gist.owner.login }}</a></small>
</h3>

<p>
  Created {{ gist.gist.created_at | date:'medium' }}
</p>

<p class="text-muted">
  {{ gist.gist.description || 'no description' }}
</p>

<div ng-repeat="(filename, file) in gist.gist.files">
  <h4>{{ file.filename }} <small>{{ file.language }}</small></h4>
  <pre>{{ file.content }}</pre>
</div>
